*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8f1fd;
    display: flex;
    flex-direction: column;
}
 h1{
    text-align: center;
 }
.btn{
    border: 1px solid rgb(114, 114, 147);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayDiv{
    display: block;
}

.divs{
    display: flex;
    justify-content: center;

}


.scores{
    text-align: center;
}

.paraOne{
    text-align: center;
}

button{
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background: #99c4fc;
    color: white;
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
}

.win{
    text-align: center;
}